@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Outfit:wght@300;500&display=swap');

.spot-details-box {
    box-sizing: border-box;
    /* background-color: aqua; */
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Outfit', 'sans serif';
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.hidden {
    display: none
}

.spot-details-name {
    font-size: 30px;
    font-weight: 400;
}

.spot-details-location {
    font-size: 15px;
}

.spot-images-holder {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    /* gap: 3px; */
    width: 90vw;
    /* background-color: beige; */
}

#large-image {
    box-sizing: border-box;
    width: 44.7vw;
    height: 500px;
    border: 2px solid black;
}

#small-images {
    box-sizing: border-box;
    width: 44.7vw;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
}

.small-image {
    box-sizing: border-box;
    width: 22vw;
    height: 248px;
    border: 2px solid black;
}

.spot-host {
    font-size: 25px;
    font-weight: 450;
}

.spot-details-info {
    box-sizing: border-box;
    display: flex;
    border-bottom: 2px solid black;
    padding-bottom: 20px;
    /* gap: 5px; */
}

.spot-details-description {
    box-sizing: border-box;
    width: 60vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.spot-details-reserve-box {
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 17px;
    width: 30vw;
    height: 125px;
    display: flex;
    flex-direction: column;
}

.reserve-box-price-reviews {
    box-sizing: border-box;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin-left: 25px;
    margin-right: 25px;
    height: 62.5px;
}

.reserve-button {
    border: 2px solid black;
    margin-left: 25px;
    margin-right: 25px;
    height: 38px;
    background-color: rgba(246,90,96,255);
    color: white;
    box-shadow: 2px 3px black;
}

.reserve-button:hover {
    cursor: pointer;
}

.reviews-header {
    box-sizing: border-box;
    /* background-color: aqua; */
    width: 20vw;
}

.review-info {
    font-size: 25px;
    margin-top: 10px;
}

.post-review-button {
    background-color: rgba(102,102,102,255);
    border: 2px solid black;
    color: white !important;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    box-shadow: 2px 2px black;
}

.delete-review-button {
    border: 2px solid black;
    background-color: rgba(102,102,102,255);
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
}

