@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Alumni+Sans+Collegiate+One&family=Outfit:wght@300;500&display=swap');


.modal-button-text {
    font-family: 'Outfit', sans-serif;
}

.modal-button-text:hover {
    cursor: pointer;
}