@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&display=swap');


.update-spot-form-box {
    box-sizing: border-box;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Outfit', 'sans serif';
    margin-top: 15px;
    text-align: left;
    /* background-color: aqua; */
}

.update-spot-header-one {
    box-sizing: border-box;
    font-size: 35px;
    font-weight: 500;
    /* background-color: beige; */
    width: 33vw;
}

.update-spot-h2 {
    box-sizing: border-box;
    font-size: 25px;
    font-weight: 500;
    margin-top: 10px;
    width: 33vw;
}

.update-spot-header-p {
    box-sizing: border-box;
    font-size: 17px;
    margin-top: 8px;
    width: 33vw;
    padding-bottom: 20px;
}

.update-spot-form {
    box-sizing: border-box;
    width: 33vw;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.wide-input-box {
    box-sizing: border-box;
    width: 33vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#country, #address {
    box-sizing: border-box;
    width: 33vw;
    height: 30px;
    border: 2px solid black;
    background-color: rgba(232,240,255,255);
}

.update-spot-city-state-box, .update-spot-lat-lng-box {
    box-sizing: border-box;
    width: 33vw;
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
    align-items: flex-end;
}

#city {
    box-sizing: border-box;
    width: 20vw;
    border: 2px solid black;
    background-color: rgba(232,240,255,255);
    height: 30px;
    
}

#state {
    box-sizing: border-box;
    width: 11vw;
    border: 2px solid black;
    background-color: rgba(232,240,255,255);
    height: 30px;
}

.update-spot-state-box, .update-spot-city-box {
    display: flex;
    flex-direction: column;
    padding-bottom: 4px;
}

.city-comma {
    font-size: 30px;
    /* background-color: green; */
    width: 30px;
}

.update-spot-lat-box, .update-spot-lng-box {
    display: flex;
    flex-direction: column;
    width: 16vw;
    padding-bottom: 4px;
}

#lat, #lng {
    border: 2px solid black;
    background-color: rgba(232,240,255,255);
    height: 30px;
}

.lat-comma {
    font-size: 30px;
    /* background-color: green; */
    width: 12px;
}

.update-spot-lat-lng-box {
    padding-bottom: 15px;
}

.update-spot-description-box {
    box-sizing: border-box;
    width: 33vw;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 22px;
    border-top: 2px solid black;
}

.update-spot-prompt-p {
    box-sizing: border-box;
    font-size: 17px;
    margin-top: 8px;
    width: 33vw;
    padding-bottom: 13px;
}

#description {
    box-sizing: border-box;
    width: 33vw;
    border: 2px solid black;
    height: 125px;
    resize: none;
    background-color: rgba(232,240,255,255);
    font-family: 'Outfit', 'sans serif'
}

.update-spot-title-box {
    box-sizing: border-box;
    width: 33vw;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 22px;
    border-top: 2px solid black;
}

#name {
    box-sizing: border-box;
    width: 33vw;
    border: 2px solid black;
    background-color: rgba(232,240,255,255);
    height: 30px;
}

.update-spot-price-box {
    box-sizing: border-box;
    width: 33vw;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 22px;
    border-top: 2px solid black;
}

#price {
    box-sizing: border-box;
    border: 2px solid black;
    width: 31vw;
    background-color: rgba(232,240,255,255);
    height: 30px;
}

.dollar-sign {
    font-size: 20px;
    /* background-color: antiquewhite; */
    width: 25px;
    text-align: center;
}

.update-spot-price-input-box {
    display: flex;
    justify-content: space-between;
    
    /* background-color: aqua; */
}

/* .images-box {
    box-sizing: border-box;
    width: 33vw;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
} */

/* .image-input {
    box-sizing: border-box;
    width: 33vw;
    border: 2px solid black;
    background-color: rgba(232,240,255,255);
    height: 30px;
} */

/* .all-image-inputs {
    box-sizing: border-box;
    width: 33vw;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 22px;
} */

.update-spot-button {
    box-sizing: border-box;
    width: 11vw;
    height: 34px;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    background-color: rgba(246,90,96,255);
    color: white;
    font-weight: 400;
    font-size: 23px;
    box-shadow: 2px 4px black;
}

#country, #address, #city, #state, #lat, #lng, #description, #name, #price, .image-input {
    padding-left: 5px;
    border-radius: 2px;
}

.update-spot-input-labels {
    /* background-color: aqua; */
    box-sizing: border-box;
    width: 33vw;
    display: flex;
    gap: 5px;
}

.update-spot-city-label {
    width: 20vw;
    box-sizing: border-box;
    display: flex;
    gap: 5px ;
    /* background-color: aquamarine; */
}

.update-spot-state-label {
    width: 11vw;
    box-sizing: border-box;
    gap: 5px;
    display: flex;
}

.update-spot-lat-label {
    display: flex;
    gap: 5px;
}

.update-spot-lng-label {
    display: flex;
    gap: 5px;
}

.update-spot-errors {
    color: rgba(254,72,86,255);
    font-size: 13px;
    /* background-color: aqua; */
    margin-bottom: 0;
    height: 20px;
    display: flex;
    align-items: center;
}